*{ /*Config para a página toda*/
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Calibri', Arial, Helvetica;
}

header{
    width: 100%;
    float: left; /*Posição dos botões Header lado a lado do logo*/
    position: fixed; /*Comando para fixar*/
    background-color: #ef8f2e;
}

/* MENU */

nav{
    font-size: 19px;
}

nav ul{
    list-style-type: none; /*Config para tirar as bolinhas da lista*/
}

nav ul li{
    float: left;
    margin-left: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    line-height: 3.6;
}

nav ul .BOTAO:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.menuimg{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

/* CONTEÚDO */

main{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}



article{
    text-align: justify;
    margin-bottom: 20px;
}

.fotoshome{
    width: 50%;
    float: left;
    text-align: center;
}

/*RODAPÉ*/

footer{
    background-color:  #ef8f2e;
    width: 100%;
    clear: both;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

/* SOBRE */

.fotossobre{
    width: 20%;
    height: 160px;
    float: left;
}

.asobre{
    width: 80%;
    height: 160px;
    float: left;
}

/* CONTATOS*/

#maps{

    width: 1000px;
    height: 300px;
   margin-top: 58px;
}

#info{
    margin-top: 50px;
    width: 400px;
    float: left;
}

#formulario{
    margin-bottom: 55px;
    margin-top: 50px;
    width: 590px;
    float: right;
}

#formulario label{
    font-size: 18px;
}

#formulario div input{
    width: 590px;
    height: 30px;
    border: 1px solid #f2c085;
    background-color: #fae5cc;
    font-size: 15px;
}

#formulario div textarea{
    width: 590px;
    height: 80px;
    border: 1px solid #f2c085;
    background-color: #fae5cc;
    font-size: 15px;
    resize: none;
}

#formulario .BOTAO{
    width: 100px;
    height: 35px;
    font-size: 18px;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
    border-radius: 15px;

}

#LIMPAR{
    background-color: #c73636;
    border: 1px solid #b89898;
}

#ENVIAR{
    background-color: #52883f;
    border: 1px solid #8bac7f;
}

#formulario h2{
    font-size: 22px;
    color: orange;
    text-align: center;
    margin: 35px 0; /*Sentido horario pra cima 0 pros lados*/
    font-weight: bold;
}

.galeria{
    text-align: center;
    margin: 10px;
}

galeria img{
    padding: 20px;
}